/* Basic Style */
.matrix {
background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.add-item__input,
.add-item__button,
.list__input,
.list__btn {
  outline: none;
  box-sizing: border-box;
}

.add-item__button,
.list__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  vertical-align: inherit;
}

.add-item__button:hover,
.list__btn:hover {
  color: #3a3a3a;
}

.add-item__input,
.list__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  vertical-align: inherit;
}

.list__input:focus,
.add-item__input:focus {
  color: #333;
}

.list__checkbox {
  margin: 0 10px;
  vertical-align: inherit;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: inherit;
}

/*HEADER Block*/

.header__img {
  width: 100%;
}

.header__link {
  font-family: Fantasy, cursive;
}

/*MAIN-PAGE Block*/

.main-page {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__item,
.subheader,
.add-item__subheader {
  list-style: none;
}

.list__item {
  font-size: 0;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

.list__input_text {
  width: 226px;
  display: none;
}

.list__btn_delete:hover {
  color: #cf2323;
}

.list__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__btn-img:hover {
  transform: rotateZ(0);
}

/*ADD-ITEM Block*/
.add-item {
  margin: 1em 0;
}

.subheader,
.add-item__subheader,
.add-item__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0 auto;
  text-transform: uppercase;
}

.add-item__subheader {
  margin-bottom: 20px;
}

.add-item__label {
  display: block;
  margin: 0 0 20px;
}

.add-item__input {
  width: 318px;
}

.add-item__button:hover {
  color: #0fc57c;
}

/*COMPLETED Block*/

.list__label_complited-task {
  text-decoration: line-through;
  color: #888;
}

.list__label_incompleted-task,
.list__label_complited-task {
  width: 56%;
  display: inline-block;
}

/*EDIT Block*/

.list__item_edit-mode .list__input_text {
  display: inline-block;
  width: 224px;
}

.list__item_edit-mode .list__label {
  display: none;
}
